@model BigView
@section Styles{
  <link href=@Url.Content("~/css/Dashboard.css") rel = "stylesheet"> 
}

<div class="DashboardContainer">
  @await Html.PartialAsync("Partials/_Calendar", Model.Events)
  @await Html.PartialAsync("Partials/_CreateEvent.cshtml", Model.ToDos)
</div>