@{
    ViewData["Title"] = "Home Page";
    Layout = "_LoginLayout";
}
@section Styles{
  <link href=@Url.Content("~/css/LogAndReg.css") rel = "stylesheet"> 
}

<div class="LogAndRegContainer">
@await Html.PartialAsync("Partials/_Register")
@await Html.PartialAsync("Partials/_Login")
</div>