@model ToDo

<div>
  <h1>Create Task</h1>
  <form asp-action="CreateToDo" asp-controller="ToDo" method="Post" class="form">
    <div>
      <label asp-for="TaskName">Task</label>
      <input asp-for="TaskName">
      <span asp-validation-for="TaskName"></span>
    </div>
    <div>
      <label asp-for="Frequent">Frequent</label>
      <input asp-for="Frequent">
      <span asp-validation-for="Frequent"></span>
    </div>
    <button type="submit" class="button">Create Task</button>
  </form>
</div>