@model List<ToDo>
@section Styles{
  <link href=@Url.Content("~/css/ToDo.css") rel="stylesheet"> 
}

<div class="TaskContainer">
  @await Html.PartialAsync("Partials/_CreateToDo", new ToDo())
  @await Html.PartialAsync("Partials/_AllToDos", Model)
</div>